@import url("../css/variaveis.css");
@import url("../css/header.css");
@import url("../css/banner.css");
@import url("../css/carrossel.css");
@import url("../css/topicos.css");

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}