/* geral */

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

/* lista */
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 2;
}

.container__botao:checked ~ .lista-menu{
    /* quando o checkbox for selecionado, a lista aparece */
    display: block;
}

.lista-menu__item,
.lista-menu__titulo{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--gradient-azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}


.container__texto{
    display: none;
}


/* Script Adicionado para desktop */
    .container__titulo{
        display: none;
    }

    .opcoes{
        display: none;
    }


/* Mobile menores -- alterações pontuais*/
@media screen and (max-width: 400px) {
    .container img{
        width: 40%;
    }
    .container .container__imagem:nth-child(4){
        width: 35px;
    }
}


/* RESPONSIVIDADE DESKTOP */
@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        margin-top: 7px;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--favorito{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    /* Lista  em CATEGORIAS reutilizando scripts*/
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }


    /* Toque */
        .cabecalho{
            justify-content: space-evenly;
        }
}


/* RESPONSIVIDADE DESKTOP 1728px*/
@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__texto{
        color: var(--preto);
        font-size: 20px;
    }

    /* toque */
        .container__link:nth-child(2){
            margin-right: 2em;
        }

        .cabecalho{
            padding: 1em 7em;
        }

        .lista-menu__item{
            padding: 24px;
        }

    
    .opcoes{
        margin-right: auto;
        /* Usar o auto para ele Automaticamente preencher a direita com a margem */

        /* toque */
            margin-left: 3em;
    }

    .container__texto{
        display: block;
    }
}
