.rodape{
    padding: 1.5em 2em;
    background-color: var(--cinza-claro);
    border-top: 1px solid var(--cinza-escuro);
}

.box-rodape{
    display: none;
}


/* RESPONSIVIDADE DESKTOP */
@media screen and (min-width: 1024px){
    .box-rodape{
        display: block;
    }

    .rodape{
        display: flex;
        justify-content: space-around;
        padding-top: 3em;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .box-rodape__item{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    .box-rodape__link{
        margin-left: 1em;
        text-decoration: none;
        color: var(--cinza);
    }

    .box-rodape__titulo{
        margin-bottom: 2em;
        color: var(--cinza-claro-2);
        font-size: 14px;
    }
}


/* RESPONSIVIDADE DESKTOP 1728px*/
@media screen and (min-width: 1728px){
    .box-rodape{
        border-left: 1px solid var(--cinza-claro-2);
        padding-left: 1em;
    }
}