:root{

    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --gradient-azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: "Poppins";

}